- type: job
  id: Psychologist
  name: job-name-psychologist
  description: job-description-psychologist
  playTimeTracker: JobPsychologist
  requirements:
    - !type:CharacterOverallTimeRequirement
      min: 18000 # Goob MRP - 5 Hours
    - !type:CharacterDepartmentTimeRequirement
      department: Medical
      min: 7200 # Goob MRP - 2 Hours
    - !type:CharacterEmployerRequirement
      employers:
      - Interdyne
      - NanoTrasen
  startingGear: PsychologistGear
  icon: "JobIconPsychologist"
  supervisors: job-supervisors-cmo
  access:
  - Medical
  - Maintenance
  - Psychologist # DeltaV - Add Psychologist access
  extendedAccess:
  - Chemistry

- type: startingGear
  id: PsychologistGear
  subGear:
  - PsychologistPlasmamanGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitPsychologist
    back: ClothingBackpackPsychologistFilled #DeltaV - stamp included
    shoes: ClothingShoesLeather
    id: PsychologistPDA
    ears: ClothingHeadsetMedical
  innerClothingSkirt: ClothingUniformJumpsuitPsychologist
  satchel: ClothingBackpackSatchelPsychologistFilled #DeltaV - stamp included
  duffelbag: ClothingBackpackDuffelPsychologistFilled #DeltaV - stamp included

- type: startingGear
  id: PsychologistPlasmamanGear
  parent: BasePlasmamanGear
  equipment:
    jumpsuit: ClothingUniformEnvirosuitEnviroslacksPsychologist
    head: ClothingHeadEnvirohelmMedicalDoctor
    gloves: ClothingHandsGlovesEnviroglovesWhite
