- type: job
  id: Clerk
  name: job-name-clerk
  description: job-description-clerk
  playTimeTracker: JobClerk
  requirements:
    - !type:CharacterDepartmentTimeRequirement
      department: Security
      min: 18000 # 5 hours
    - !type:CharacterPlaytimeRequirement
      tracker: JobLawyer
      min: 10800 # 3 hours
    - !type:CharacterPlaytimeRequirement
      tracker: JobProsecutor
      min: 18000 # 5 hours
    - !type:CharacterEmployerRequirement
      employers:
      - IdrisIncorporated
      - NanoTrasen

  startingGear: ClerkGear
  icon: "JobIconClerk"
  requireAdminNotify: true
  supervisors: job-supervisors-cj
  canBeAntag: false
  access:
  - Justice
  - Clerk
  - Security
  - Maintenance

- type: startingGear
  id: ClerkGear
  subGear:
  - PassengerPlasmamanGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitClerk
    back: ClothingBackpackFilled
    shoes: ClothingShoesBootsLaceup
    id: ClerkPDA
    ears: ClothingHeadsetJustice
  innerClothingSkirt: ClothingUniformJumpskirtClerk
  satchel: ClothingBackpackSatchelFilled
  duffelbag: ClothingBackpackDuffelFilled


